footer.footer 
    .container.footer__block 
        .footer__left 
            img.footer__left-img(src="img/googlePlay.webp", alt="")
            img.footer__left-img(src="img/appStore.webp", alt="")
        .footer__right 
            p.footer__right-text © PROWEB. В целях обучения 2021