section.intro 
    .container 
        img.intro__img(src="img/blackwidow.webp", alt="")
        p.intro__text After the events at the Leipzig-Halle airport, Natasha was overtaken by the mistakes of the past. The Red Room again made itself felt - a program to create Widows - professional killers and spies - just like her. Natasha decides once and for all to deal with people whose efforts she herself became a Widow.
        a.btn(href="#!") Watch now
    .intro__video 
        video(src="../src/video/video.mp4" autoplay muted loop).intro__video-film 